<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="favicon.ico" />
    <title>NLP - Evaluate a News Article</title>
  </head>

  <body>
    <header>
      <div class="container">
        <a class="logo" href="#"></a>
      </div>
    </header>

    <main>
      <div class="container">
        <h1>
          Evaluate a News Article
          <span>with Natural Language Processing</span>
        </h1>
        <section class="analysis-sentiment">
          <form id="form">
            <input
              id="article-url"
              type="text"
              placeholder="Enter Article URL"
            />
            <input type="submit" value="Analysis" />
          </form>
          <div id="error"></div>
        </section>

        <section id="result-sec">
          <p>
            What is Natural Language Processing?<br />
            NLP is a subset of AI that provides computers ability to process or
            interact with natural human speech.<br />
            Enter a URL of an article / a blog to discover its sentiment.
          </p>
        </section>
      </div>
    </main>

    <footer>
      <div class="container">
        <div class="me">&copy; Bayoumi-dev</div>
        <div class="social">
          <ul>
            <li class="github">
              <a href="https://github.com/Bayoumi-dev/" target="_blank">
                <span></span>
              </a>
            </li>
            <li class="instagram">
              <a href="https://www.instagram.com/abayoumi100/" target="_blank">
                <span></span>
              </a>
            </li>
            <li class="linkedin">
              <a
                href="https://www.linkedin.com/in/bayoumi-dev/"
                target="_blank"
              >
                <span></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
